body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #e8e8e8;
  
}

.filter-todo {
  padding: 1rem;
}
.fa-trash,
  .fa-check {
    pointer-events: none;
  }
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
